flows.json
[
    {
        "id": "6d76aee88f994823",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8df5c20dddca9d11",
        "type": "telegram bot",
        "botname": "CarrozzoVidriosBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99e7d99b9badbf41",
        "type": "debug",
        "z": "6d76aee88f994823",
        "name": "entradas usuario",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "3f1899752c19b369",
        "type": "telegram receiver",
        "z": "6d76aee88f994823",
        "name": "",
        "bot": "8df5c20dddca9d11",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "99e7d99b9badbf41",
                "9ce3d5bb0df5ab47"
            ],
            []
        ]
    },
    {
        "id": "465d09dcd6d5f35c",
        "type": "inject",
        "z": "6d76aee88f994823",
        "name": "cargar catalogo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "945c4abf6133db9f"
            ]
        ]
    },
    {
        "id": "945c4abf6133db9f",
        "type": "file in",
        "z": "6d76aee88f994823",
        "name": "ruta a datos",
        "filename": "C:/Users/usr/.node-red/projects/ChatBotCarrozzoVidrios/data/output/pilkington.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "fa3fac8d3fb23bda"
            ]
        ]
    },
    {
        "id": "fa3fac8d3fb23bda",
        "type": "json",
        "z": "6d76aee88f994823",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "731867f6d2d279b8"
            ]
        ]
    },
    {
        "id": "731867f6d2d279b8",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "catalogo v_global",
        "func": "//msg.payload sea un array de objetos del catálogo\nconst catalog = msg.payload;\n\n//guardo el catálogo completo en la variable global\nglobal.set(\"catalog\", catalog);\n\n//mostrar cuántos productos se cargaron\nnode.status({fill:\"green\", shape:\"dot\", text:`${catalog.length} productos cargados`});\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "b6be091188b8e890"
            ]
        ]
    },
    {
        "id": "b6be091188b8e890",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "extraer marcas y modelos",
        "func": "//catálogo ya cargado\nconst catalog = global.get(\"catalog\") || [];\n\n//normalizar texto\nconst normalize = s => (s ?? \"\")\n  .toString()\n  .toUpperCase()\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n//lista de marcas únicas\nconst marcas = [...new Set(catalog.map(item => normalize(item.marca)))].filter(Boolean);\n\n//lista de modelos por marca\nconst modelosPorMarca = {};\nfor (const item of catalog) {\n  const marca = normalize(item.marca);\n  const modelo = normalize(item.modelo);\n  if (!marca || !modelo) continue;\n  if (!modelosPorMarca[marca]) modelosPorMarca[marca] = new Set();\n  modelosPorMarca[marca].add(modelo);\n}\n\n//convierto sets a arrays normales\nfor (const marca in modelosPorMarca) {\n  modelosPorMarca[marca] = Array.from(modelosPorMarca[marca]);\n}\n\n//guardo en variables globales\nglobal.set(\"marcas_unicas\", marcas);\nglobal.set(\"modelos_por_marca\", modelosPorMarca);\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`${marcas.length} marcas cargadas`});\nmsg.payload = modelosPorMarca;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "0c5521db7efc2f6e"
            ]
        ]
    },
    {
        "id": "fcc73b7a4c91ae23",
        "type": "inject",
        "z": "6d76aee88f994823",
        "name": "correr marcas y modelos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "b6be091188b8e890"
            ]
        ]
    },
    {
        "id": "0c5521db7efc2f6e",
        "type": "debug",
        "z": "6d76aee88f994823",
        "name": "salida marcas y modelos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "c8423aeb93ef2a9a",
        "type": "telegram sender",
        "z": "6d76aee88f994823",
        "name": "",
        "bot": "8df5c20dddca9d11",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1170,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "d16fdcf0d9f4353c",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "pedir modelo",
        "func": "const text = (msg.payload.content || \"\").toString().trim().toLowerCase();\nconst chatId = msg.payload.chatId;\nif (!chatId) return null;\n\n//recuperar el estado actual del usuario\nlet estado = flow.get(`estado_${chatId}`) || { paso: null };\n\nif (estado.paso === \"marca\") {\n\n    const marcas = global.get(\"marcas_unicas\") || [];\n    const modelosPorMarca = global.get(\"modelos_por_marca\") || {};\n\n    //verifico si la marca ingresada coincide\n    const marcaElegida = marcas.find(m => m.toUpperCase() === text || m.toLowerCase().startsWith(text));\n    if (!marcaElegida) {\n        msg.payload = {\n            chatId,\n            type: \"message\",\n            content: \"❌ No reconozco esa marca. Escribí /start para volver a empezar.\"\n        };\n        return msg;\n    }\n\n    //guardo la marca y estado\n    estado.marca = marcaElegida;\n    estado.paso = \"modelo\";\n    flow.set(`estado_${chatId}`, estado);\n\n    //busco modelos disponibles para esa marca\n    const modelos = modelosPorMarca[marcaElegida] || [];\n    const primeras = modelos.slice(0, 8);\n    const keyboard = [\n        primeras.slice(0, 4).map(m => m.toUpperCase()),\n        primeras.slice(4, 8).map(m => m.toUpperCase())\n    ];\n\n    msg.payload = {\n        chatId,\n        type: \"message\",\n        content: `Perfecto ✅\\nElegiste *${marcaElegida.toUpperCase()}*.\\n\\nAhora decime el *modelo* del vehículo:`,\n        options: {\n            parse_mode: \"Markdown\",\n            reply_markup: {\n                keyboard: keyboard,\n                one_time_keyboard: true,\n                resize_keyboard: true\n            }\n        }\n    };\n\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 640,
        "wires": [
            [
                "c8423aeb93ef2a9a"
            ]
        ]
    },
    {
        "id": "d149d98720ea052c",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "pedir cristal",
        "func": "const text = (msg.payload.content || \"\").toString().trim().toUpperCase();\nconst chatId = msg.payload.chatId;\nif (!chatId) return null;\n\n//recuperar el estado del usuario\nlet estado = flow.get(`estado_${chatId}`) || { paso: null };\n\n//si está en el paso \"modelo\"\nif (estado.paso === \"modelo\") {\n\n    const modelosPorMarca = global.get(\"modelos_por_marca\") || {};\n    const marca = estado.marca;\n    const modelos = modelosPorMarca[marca] || [];\n\n    //buscar coincidencia con el modelo ingresado\n    const modeloElegido = modelos.find(m => m === text || m.startsWith(text));\n    if (!modeloElegido) {\n        msg.payload = {\n            chatId,\n            type: \"message\",\n            content: `❌ No reconozco ese modelo para *${marca.toUpperCase()}*.\\nProbá escribirlo de nuevo o enviá /start para comenzar otra vez.`,\n            options: { parse_mode: \"Markdown\" }\n        };\n        return msg;\n    }\n\n    //guardar el modelo\n    estado.modelo = modeloElegido;\n    estado.paso = \"cristal\";\n    flow.set(`estado_${chatId}`, estado);\n\n    //buscar tipos de cristal en el catálogo\n    const catalog = global.get(\"catalog\") || [];\n    const normalize = s => (s ?? \"\").toString().toUpperCase().normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s+/g, \" \").trim();\n    const cristales = [...new Set(\n        catalog\n            .filter(x => normalize(x.marca) === marca && normalize(x.modelo) === modeloElegido)\n            .map(x => normalize(x.cristal))\n    )];\n\n    //teclado del chatbot\n    const primeros = cristales.slice(0, 6);\n    const keyboard = [\n        primeros.slice(0, 3).map(c => c.toUpperCase()),\n        primeros.slice(3, 6).map(c => c.toUpperCase())\n    ];\n\n    //mensaje del siguiente paso\n    msg.payload = {\n        chatId,\n        type: \"message\",\n        content: `Perfecto ✅\\nElegiste *${marca.toUpperCase()} ${modeloElegido.toUpperCase()}*.\\n\\nAhora decime qué *cristal* buscás`,\n        options: {\n            parse_mode: \"Markdown\",\n            reply_markup: {\n                keyboard: keyboard,\n                one_time_keyboard: true,\n                resize_keyboard: true\n            }\n        }\n    };\n\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 700,
        "wires": [
            [
                "c8423aeb93ef2a9a"
            ]
        ]
    },
    {
        "id": "25f95448ecd1a39c",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "buscar precios",
        "func": "const text = (msg.payload.content || \"\").toString().trim().toUpperCase();\nconst chatId = msg.payload.chatId;\nif (!chatId) return null;\n\n//recuperar estado del usuario\nlet estado = flow.get(`estado_${chatId}`) || { paso: null };\n\n//si está en el paso \"cristal\"\nif (estado.paso === \"cristal\") {\n\n    const marca = estado.marca;\n    const modelo = estado.modelo;\n    const cristalIngresado = text;\n\n    //normalizar texto para comparar\n    const normalize = s => (s ?? \"\").toString().toUpperCase()\n        .normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\")\n        .replace(/\\s+/g, \" \")\n        .trim();\n\n    const catalog = global.get(\"catalog\") || [];\n\n    //filtrar coincidencias\n    const resultados = catalog.filter(item => {\n        return (\n            normalize(item.marca) === marca &&\n            normalize(item.modelo) === modelo &&\n            normalize(item.cristal).startsWith(cristalIngresado)\n        );\n    });\n\n    if (!resultados.length) {\n        msg.payload = {\n            chatId,\n            type: \"message\",\n            content: `❌ No encontré precios para *${marca.toUpperCase()} ${modelo.toUpperCase()}* (${cristalIngresado}).\\nProbá otra pieza o enviá /start para comenzar de nuevo.`,\n            options: { parse_mode: \"Markdown\" }\n        };\n        return msg;\n    }\n\n    //formatear resultados\n    const fmt = v => {\n        if (v === undefined || v === null) return \"-\";\n        let s = v.toString().trim();\n        if (!s.startsWith(\"$\")) s = \"$\" + s;\n        return s;\n    };\n\n    const respuesta = resultados.slice(0, 5).map((r, i) => {\n        const precio = fmt(r[\"total s/iva\"] ?? r[\"precio s/iva\"] ?? r[\"precio\"]);\n        return `#${i + 1} – ${r.descripción ?? r.cristal}\\nCódigo: ${r.código ?? \"-\"}\\nColor: ${r.color ?? \"-\"}\\n💵 Precio: ${precio}`;\n    }).join(\"\\n\\n\");\n\n    msg.payload = {\n        chatId,\n        type: \"message\",\n        content: `🔍 *Resultados para ${marca.toUpperCase()} ${modelo.toUpperCase()} (${cristalIngresado.toUpperCase()})*\\n\\n${respuesta}\\n\\nUsá /start para hacer otra consulta.`,\n        options: { parse_mode: \"Markdown\" }\n    };\n\n    //reiniciar la sesión para que pueda empezar otra consulta\n    flow.set(`estado_${chatId}`, { paso: null });\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 760,
        "wires": [
            [
                "c8423aeb93ef2a9a"
            ]
        ]
    },
    {
        "id": "9ce3d5bb0df5ab47",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "router inputs",
        "func": "const text = (msg.payload.content || \"\").toString().trim().toLowerCase();\nconst chatId = msg.payload.chatId;\n\nif (!chatId) return null;\n\nlet estado = flow.get(`estado_${chatId}`) || { paso: null };\n\n//dectectar comandos\nif (text.startsWith(\"/start\") || text.startsWith(\"/ayuda\") || text.startsWith(\"/cancel\")) {\n    msg.meta = { tipo: \"comando\", comando: text.replace(\"/\", \"\") };\n    return [msg, null]; // salida 1\n}\n\n//mensajes normales\nmsg.meta = { tipo: \"mensaje\", paso: estado.paso };\nreturn [null, msg]; // salida 2",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "82c275f0d94cc151"
            ],
            [
                "88f1d6b3578b6dde",
                "3da87555ec18b64c"
            ]
        ]
    },
    {
        "id": "88f1d6b3578b6dde",
        "type": "switch",
        "z": "6d76aee88f994823",
        "name": "orquestador",
        "property": "meta.paso",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "marca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "modelo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cristal",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "d16fdcf0d9f4353c"
            ],
            [
                "d149d98720ea052c"
            ],
            [
                "25f95448ecd1a39c"
            ]
        ]
    },
    {
        "id": "82c275f0d94cc151",
        "type": "function",
        "z": "6d76aee88f994823",
        "name": "gestor comandos",
        "func": "const cmd = msg.meta?.comando;\nconst chatId = msg.payload.chatId;\n\nif (cmd === \"start\") {\n    //reiniciar estado del usuario\n    flow.set(`estado_${chatId}`, { paso: \"marca\" });\n\n    //obtener las marcas de la variable global\n    const marcas = global.get(\"marcas_unicas\") || [];\n    \n    //seleccionar cierto rango de marcas\n    const primeras = marcas.slice(5, 15);\n\n    //crear la estructura del teclado\n    const keyboard = [\n        primeras.slice(0, 4).map(m => m.toUpperCase()), // Fila 1\n        primeras.slice(4, 8).map(m => m.toUpperCase())  // Fila 2\n    ];\n\n    msg.payload = {\n        chatId,\n        type: \"message\",\n        content: \"👋 ¡Hola! Soy tu asistente de precios de Pilkington.\\n\\nIngresá la *marca* del vehículo:\",\n        options: {\n            parse_mode: \"Markdown\",\n            \n            //djuntar el teclado al mensaje\n            reply_markup: {\n                keyboard: keyboard,\n                one_time_keyboard: true,\n                resize_keyboard: true\n            }\n        }\n    };\n\n    return msg;\n}\n\nif (cmd === \"ayuda\") {\n\n    const textoAyuda = `*🤖 ¿Cómo usar este Asistente?*\n\nEste bot te ayuda a encontrar precios de cristales para vehículos. El flujo es simple:\n\n1️⃣  Primero, te pediré la *Marca* (ej: Ford).\n2️⃣  Luego, te pediré el *Modelo* (ej: Fiesta).\n3️⃣  Finalmente, te pediré el *Cristal* (ej: Parabrisas).\n\nCon esa información, buscaré el precio en nuestro catálogo.\n\n*Comandos Disponibles:*\n*Comandos Disponibles:*\n* \\`/start\\` - Inicia una nueva consulta o reinicia la actual.\n* \\`/ayuda\\` - Muestra este mensaje.`; \n\n    msg.payload = {\n        chatId,\n        type: \"message\",\n        content: textoAyuda,\n        options: {\n            parse_mode: \"Markdown\"\n        }\n    };\n\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "c8423aeb93ef2a9a"
            ]
        ]
    },
    {
        "id": "3da87555ec18b64c",
        "type": "debug",
        "z": "6d76aee88f994823",
        "name": "salida mensajes usuario",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 820,
        "wires": []
    }
]